p{
    text-align: center;
}
body{
    text-align: center;
    background-image: url('https://media.istockphoto.com/id/1384459158/photo/speech-bubble.jpg?b=1&s=612x612&w=0&k=20&c=yWYdMWHmUZYz24FCMgg5IIZ1P249ApQIf_8rE8hLovo=');
     background-size: cover;
 }
.box{
    background-image:url('https://media.istockphoto.com/id/1398999646/photo/circular-white-chat-bubbles-sitting-on-blue-background.jpg?b=1&s=612x612&w=0&k=20&c=SJAaL3-ErZjnoOJUUcsLEtzwMhe2i_sp7TR0cOdtwJc=') ;
    width: 850px;
    height: 500px;
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    margin-top: 70px;
    margin-right: -105px;
    box-shadow: inset 0 0 10px 10px rgba(0,0,0,0.35),
    0 5px 5px rgba(0,0,0,0.5),
    0 15px 25px rgba(0,0,0,0.35);
    
}