body{
    background-color: rgba(234, 210, 133, 0.856);
    margin:0%;
}
.style2{
    height:250px;
    width: 1500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 3px 3px 5px 10px black;

}
.text11{
    font-family: Arial, Helvetica, sans-serif;
    
}
.style2:hover{
    box-shadow: 2px 2px 3px 5px black;
    border: 10px;
}
.style3{
    display: flex;
    justify-content: center;
    color: black;
    font-size: 60px;
    margin-top: 5px;
    font-style:italic;
}
.flex1{
    display:flex;
    flex-direction: row;
    width: 1500px;
    height: 380px;
    justify-content: space-around;
    align-items: center;
}
.flex{
    background-color: bisque;
    height: 270px;
    width: 650px;
    font-size: 50px;
    margin: 20px;
    padding: 10px;
    border-radius: 10px 15px 10px 15px;
    box-shadow: 2px 6px 2px 2px black;
}
.flex:hover{
    background-color: aliceblue;
    height: 280px;
    width: 620px;
    border-radius: 5px 15px 5px 15px;
    box-shadow: 1px 3px 4px 4px ;
}


.ex1{
    font-style: oblique;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 3px;
    margin-left: 25px;
    font-size: 35px;
    margin-bottom: 5px;
    text-align: center;
}
.img1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 70px;
    width: 70px;
    padding-top: 1px;
}
.text1{
    text-align: center;
    font-size: 20px;
}
.text4{
    text-align: start;
    font-size: 20px;
    padding-top: 0px;
}
.text5{
    text-align: start;
    font-size: 20px;
    padding-top: 0px;
    padding-bottom: 20px;
}
.text3{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    width: 40px;
    margin-bottom: 1px;
}
.img2{
    padding-top: 1px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    width: 40px;
}
.h1{
    font-size: 40px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
}
.img4{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 85px;
    width: 85px;
    margin-bottom: 450px;
    margin-bottom: 5px;
    
    

}
.style5{
    height: 500px;
    width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    
    border-radius: 5px;
    margin-top: 5px;
    box-shadow: 2px 2px 3px 3px black;

}
.box1{
        
    color:black;
   background-color: rgba(219, 196, 105, 0.856);
    height: fit-content;
    width: fit-content;
    font-size:30px;
    margin-left: 10px;
    padding: 10px;
    border-color: antiquewhite;
    border-style: double;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }
   .box
   {
     background-color:black;
     width:"1350px";
     height: 500px;
     text-align: center;
     color:white;
 font-size: 30px;
     margin-top: 100px;
     margin-bottom:10px;
     margin-left:0px;
     margin-right:1px;
     padding-top: 10px;
     padding-bottom: 10px;
   }
   .box p{
    text-align: center;
    color:white;
   }
   .box img{
     height: 50px;
     background-color:black;
     width:50px;
     padding:10px;
     margin:10px;
   }

.z{
color:aliceblue;
}
.z:hover{
color:#00ffff;
}
    






