.a{
  background-color:rgba(234, 210, 133, 0.856);;
 



  }
  @media only screen and   (max-width:1000px)
{body{
    background-color:brown;
    
}}
  .b{
    text-align:center;
   

    font-size: 40px;
    color: rgb(20, 20, 20);
    margin-left: 10px;
    font-family:Arial, Helvetica, sans-serif;
    
  }
  
  .c{
    text-align:left;
    font-size: 40px;
    color: rgb(27, 26, 26);
    margin-left: 10px;
    font-family:Arial, Helvetica, sans-serif;
  }
  p{
    text-align:left;
    font-size: 30px;
    color: black;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
  }
      .box1{
        
        color:black;
       background-color: rgba(219, 196, 105, 0.856);
        height: fit-content;
        width: fit-content;
        font-size:30px;
        margin-left: 10px;
        padding: 10px;
        border-color: antiquewhite;
        border-style: double;
        border-radius: 20px;
        font-family: Arial, Helvetica, sans-serif;
      }
       .box
       {
         background-color:black;
         width:"1350px";
         height: 500px;
         text-align: center;
         color:white;
     font-size: 30px;
         margin-top: 100px;
         margin-bottom:10px;
         margin-left:0px;
         margin-right:1px;
         padding-top: 10px;
         padding-bottom: 10px;
       }
       .box p{
        text-align: center;
        color:white;
       }
       .box img{
         height: 50px;
         background-color:black;
         width:50px;
         padding:10px;
         margin:10px;
       }
  
.z{
  color:aliceblue;
}
.z:hover{
  color:#00ffff;
}