.a{
  background-image:url("https://www.azcentral.com/gcdn/presto/2021/07/09/PPHX/13b5d3fc-bc65-4833-b7b3-abc461fee2c6-Khvi_Coffee__Cafe_-_Looking_In_-_No_People_2.png?crop=1676,943,x321,y0&width=660&height=372&format=pjpg&auto=webp");
  background-repeat: no-repeat;
    background-size: cover;
    



  }
  .b{
    text-align:center;
    font-size: 40px;
    color: rgb(250, 4, 4);
    margin-left: 10px;
    
  }
  
  .c{
    text-align:left;
    font-size: 40px;
    color: rgb(250, 4, 4);
    margin-left: 10px;
  }
  p{
    text-align:left;
    font-size: 30px;
    color: rgb(252, 246, 246);
    margin-left: 10px;
  }
      .box1{
        
        color: rgb(251, 254, 253);
       background-color: rgb(191, 186, 186);
        height: fit-content;
        width: fit-content;
        font-size:30px;
        margin-left: 10px;
        padding: 10px;
        border-color: antiquewhite;
        border-style: double;
        border-radius: 20px;
       }
  
  
 