.rowone{
    text-align: ;
    display: flex;
   justify-content: space-between;
   padding: 10px;
}
h1{
    text-align: center;
}
.box{
text-align: center;
}
.box img{
    height: 40px;
    width: 40px;
}
