body{
    background-color:#e6ccb3;
    margin: 0%;
}
.text1{color: black;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  margin-top: 2px;
  font-size: 50px;
  margin-bottom: auto;
}
.text2{
  font-size: 30px;
  color: #ff0000;
  margin-top: 2px;
  font-family:italic;
  text-align: center;
  margin-bottom: auto;
}
.text3{
  font-size: 20px;
  color: #ff0066;
  text-align: center;
  margin-top: 2px;
  font-family: fantasy;
}
.text4{
  text-decoration:dotted crimson;
  text-align: left;
  margin-top: 25px;
  font-size: 40px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-left: 25px;
  color:black;
  margin-bottom: auto;
  
}
.img1{
  height: 60px;
  width: 60px;
  margin-left: 22px;
  margin-top: 2px;
}
.div1{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 420px;
  width: auto;
  color: #ff0000;
  margin-top: 30px;
}



.flex1{
  height: 390px;
  width: 340px;
  
  border-radius: 2px 5px 2px 5px;
  box-shadow: 4px 8px 5px 5px black;
}
.flex1:hover{
  background-color:#00ff99;
  border-radius: 1px 1px 3px 3px ;
  box-shadow: 2px 2px 3px 3px black;
}
.text5{
  font-size: 30px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
  color: black;
  margin-top: 5px;
}
.text6{
  color: black;
  font-size: 25px;
  font-family: italic;
  text-align: start;
  margin-top: 1px;
  margin-left: 7px;
}
.btn{
  font-size: 30px;
  height: 30px;
  width: 80px;
  padding: 4px;
  background-color: aqua;
  

}
.text7{
  color:#e60000;
  font-size: 25px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-left: 7px;
  margin-bottom:  5px;
  

}
.img2{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 127px;
  width: 335px;
  margin-top: 5px;

  margin-bottom: 5px;
}
.text8{
  font-size: 25px;
  font-family: italic;
  margin-top: 2px;
  color: #ff0000;
  margin-left: 7px;
  margin-bottom: 2px;
}
.text10{
  font-size: 25px;
  height: 30px;
  width:140px;
  padding: 4px;
  background-color: #ffff66;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3px;
  margin-top: 2px;
  padding: 2px;
  box-shadow: 3px 2px 3px 3px yellowgreen;
  border-radius: 5px;
}
.text10:hover{

  box-shadow:  1px 2px 2px black;
  color: aliceblue;
  background-color: black;
  border-radius: 1px;

}
.box
    {
      background-color: #ff0000;
      
      height: 500px;
      text-align: center;
      color:black;
      font-size: 30px;
      margin-top: 10px;
      margin-bottom:10px;
      margin-left:0px;
      margin-right:1px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
   
    .box img{
      height: 50px;
      background-color: transparent;
      width:50px;
      padding:10px;
      margin:10px;
    }
