
.q
{
background-color: rgb(234, 133, 133);
}
.b
{
  background-color: rgb(232, 164, 164);
  border-radius: 20px 20px;
  border-style: groove ;
  color: white;
  text-align: center;
  
}

  img{
   
   background-color: blanchedalmond;
    display:inline-block;
    width:498px ;
    height:400px; }
    .box
    {
      background-color:rgb(217, 67, 67);
      width:"1350px";
      height: 600px;
      text-align: center;
      color:white;
  font-size: 40px;
      margin-top: 80px;
      margin-bottom:10px;
      margin-left:0px;
      margin-right:1px;
      padding-top: 50px;
      padding-bottom: 50px;
    }
    .box img{
      height: 40px;
      background-color:rgb(217, 67, 67);
      width:30px;
      padding:10px;
      margin:10px;
    }


