.q{
  background-color: rgb(234, 133, 133);
}
@media  only screen and (max-width:500px){
  
.q
{
background-color: rgb(133, 133, 234);
}}
.b
{
  background-color: rgb(232, 164, 164);
  border-radius: 20px 20px;
  border-style: groove ;
  color: white;
  text-align: center;
  
}


  
 img{
   
   background-color: blanchedalmond;
    display:inline-block;
     width: 495px;
     height: 400px;}
    .box
    {
      background-color:brown;
      width:"1350px";
      height: 500px;
      text-align: center;
      color:white;
  font-size: 40px;
      margin-top: 80px;
      margin-bottom:10px;
      margin-left:0px;
      margin-right:1px;
      padding-top: 40px;
      padding-bottom: 50px;
    }
    .box img{
      height: 40px;
      background-color:brown;
      width:40px;
      padding:10px;
      margin:10px;
    }



