



.rating{
height: 100px;
width: 150px;
margin-left: 60px;
}
.login-btn{
height: 40px;
width: 200px;
background: #d9b18c;
color: black;
margin-top: 30px;
text-align: center;
padding: 3px;
margin-left: 520px;
}
.login-btn:hover{
background: #dfbe9f;
color: #fff;
height: 43px;
width: 230px;
}