*{
  margin: 0%;
  padding: 0%;
  font-family: Arial, Helvetica, sans-serif;
}





body{
    background-color:rgba(234,210,133,0.856);
    
}

  
.container
{
  height: 100vh;
  width: 100%;
  background-color: rgba(234,210,133,0.856);
  padding-left: 8%;
  padding-right: 8%;
  box-sizing:border-box;
}  

  .navbar
{
height: 12%;
display: flex;
align-items: center;
background-color: black;
border-style: groove;
border-color: none;
color: #fff;
width:1300px;
padding: 10px;
}


.logo{
height: 70px;
cursor: pointer;
}
nav{
flex: 1;
text-align: right;
transition: 0.5s;
}
nav ul li{
list-style: none;
display: inline-block;
margin-left: 60px;
cursor: pointer;
transition: 1s;
background-color: #000;
padding: 10px;
}
nav ul li a{
text-decoration: none;
color: white;
font-size: 18px;
cursor: pointer;
}
nav ul li:hover{
border-bottom: 1px solid white;
transition: 1s;
}
.row{
display: flex;
height: 88%;
align-items: center;
}
.col{
flex-basis: 50%;
}
h1{
color:#1a1a1a;
font-size: 100px;
font-weight: bold;
}
.paragraph-text{
margin-top: 8px;
color: #f6f4f1;
font-size: 20px;
line-height: 15px;
}
button{
width: 180px;
color: black;
font-size: 12px;
padding: 12px 0;
background: white;
border: 0;
border-radius: 20px;
outline: none;
margin-top: 30px;
cursor: pointer;
transition: 0.5s;
margin-left: 5px;
}

button:hover{
color: white;
background: black;
transition: 0.5s;
width: 200px;
}
.sub{
color:#000;
}
.card{
width: 260px;
height: 280px;
display: inline-block;
border-radius: 10px;
padding: 15px 25px;
box-sizing: border-box;
cursor: pointer;
margin: 10px 20px;
background-position: center;
background-size: cover;
transition: transform 0.5s;
box-shadow: inset 0 0 10px 10px rgba(0,0,0,0.35),
  0 5px 5px rgba(0,0,0,0.5),
  0 15px 25px rgba(0,0,0,0.35);
}
.card1
{
background-image: url('https://media.istockphoto.com/id/1286332116/photo/refreshing-grapefruit-cocktail-with-ice-and-rosemary.jpg?s=612x612&w=0&k=20&c=xDRaecffj3_TsEATw7--YD-5NVCEkPJUAYaprBBVYLk=');
}
.card2
{
background-image: url('https://wallpapercave.com/wp/wp1842834.jpg');
}
.card3
{
background-image: url('https://i.pinimg.com/originals/10/d6/c1/10d6c132171427b1e52fc1db5f1d73b1.jpg');
}
.card4
{
background-image: url('https://c4.wallpaperflare.com/wallpaper/557/818/348/mini-cheese-tomatoes-olives-wallpaper-preview.jpg');
}
.card:hover{
transform: translateY(-10px);
}
.container-2
{
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-color: rgba(234,210,133,0.856);
  background-position: center;
  padding-left: 8%;
  padding-right: 8%;
  box-sizing: border-box;
}  
.about-card{
width: 950px;
height: 580px;
display: inline-block;
border-radius: 10px;
padding: 15px 25px;
box-sizing: border-box;
cursor: pointer;
margin: 10px 20px;
background-position: center;
background-size: cover;
transition: transform 0.5s;
box-shadow: inset 0 0 10px 10px rgba(0,0,0,0.35),
  0 5px 5px rgba(0,0,0,0.5),
  0 15px 25px rgba(0,0,0,0.35);
margin-left: 160px;
background-image: url('https://e0.pxfuel.com/wallpapers/614/356/desktop-wallpaper-wake-up-and-smell-the-coffee-podcast-magazine%C2%AE-coffee-abstract.jpg');
margin-top: 80px;
}
.about-card:hover{
transform: translateY(-10px);
}
.head{
  font-size: 60px;
  text-align: center;
  color: black;
}
.des-cription
{
  text-align: right;
  color:  #bf8040;
  font-size: 20px;
  margin-top: 60px;
  padding-left: 5px;
  text-rendering: auto;
}
span{
  color: #86592d;
}
.icon-herf{
  height: 40px;
  display: inline-block;
  flex: 1;
  margin-right: 30px;
  transition: 0.5s;
  text-align: right;
  margin-top: 60px;
  background:  #ebd9c6;
  border-radius: 50%;
  padding: 8px;
}
.icon-herf:hover{
height: 30px;
}
.more{
  align-items: end;
  flex: 1;
  text-align: right;
}
.button-chat{
  padding: 5px;
  border-radius: 20px;
  height: 35px;
  width: 200px;
  text-align: center;
  cursor: pointer;
  transition: 0.5s;
  background:white;
  margin-left: 150px;
  margin-top: 10px;
  color: #000;
}
.button-chat:hover{
  color: white;
  background: black;
  transition: 0.5s;
  height: 40px;
  width: 230px;
}
.container-3{
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-color: rgba(234,210,133,0.856);
  background-position: center;
  padding-left: 8%;
  padding-right: 8%;
  box-sizing: border-box;
}
.cafe-name{
  padding-top: 40px;
  font-size: 66px;
  text-align: center;
  color: black;
  margin-bottom: 60px;
  font-weight: bold;
}
.reviews{
  font-size: 50px;
  font-weight: bold;
  color:white;
  text-align: center;
  padding: 5px;
}
.review-card{
height: 350px;
width: 300px;
box-shadow: inset 0 0 10px 10px rgba(0,0,0,0.35),
  0 5px 5px rgba(0,0,0,0.5),
  0 15px 25px rgba(0,0,0,0.35);
margin-left: 60px;
padding: 15px;
background-position: center;
background-size: cover;
border-radius: 5px;
background: white;
display: inline-block;
margin-top: 30px;
transition: 0.5s;
}
.review-card:hover{
transform: translateY(-10px);
transition: 0.5s;
}
h4{
font-size: 30px;
font-weight: bold;
color: black;
text-align: center;
}
.feedback{
font-size: 20px;
margin-top: 30px;
color: #86592d;
}
.rating{
height: 100px;
width: 150px;
margin-left: 60px;
}
.login-btn{
height: 40px;
width: 200px;
background: white;
color: black;
margin-top: 30px;
text-align: center;
padding: 3px;
margin-left: 520px;
}
.login-btn:hover{
background: black;
color: #fff;
height: 43px;
width: 230px;
}
.box
{
background-color: black;
height: 400px;
text-align: center;
color:white;
font-size: 30px;
margin-top: 2px;
margin-bottom:10px;
margin-left:0px;
margin-right:1px;
padding-top: 2px;
padding-bottom: 10px;
}
 
.box img{
height: 50px;
background-color:transparent;
width:50px;
padding:10px;
margin:10px;
}