body {
    background-color: rgba(234,210,133,0.856);
  }
  @media only screen and   (max-width:1000px)
{body{
    background-color:brown;
    
}}
  .form{
    margin-left:100px;
    margin-top:none;
    font-size: 21px;
    font-family:sans-serif;
    color: white;
  
  }
  #in{
    border-radius: 5px;
    text-decoration:double ;
    padding: 8px;
    border: solid #000000; 
    border-width: 2px; 
    background-color: transparent;
    width: 600px;
}
  
  input {
      background-color: transparent;
      color:none;
  }
   #in:hover{
    border: radius 1px;;
    font-size: 16px;
    transition: 0.5s;
   }
   .share{
    background-color: transparent;
   }
  .img{
     margin-top: 1%;
     margin-left: 100px;
  } 
  .button{
    background-color: black;
    color: white;
    border-radius: 0 15px 0 15px;
    padding: 10px;
  }

  .button:hover{
    border-radius: 20px;
    font-size: 17px;
    transition: 0.5s;
  }
  .headlines{
    color: white;
    font-size: 50px;
    font-weight: bold;
  }
  .navbar {
position: fixed;
bottom: 0;
width: 100%;
height: 20px;
background-color: black;
 color:white;
 padding: 7px;
transition: transform 0.5s ease-in-out;
}
.navbar:hover {
  transform: scale(1.1);
}

.nav-links 
{
list-style: none;
display: flex;
justify-content: center;
padding: 0;
margin: 0;
box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.nav-links li {
margin: 0 10px;
}

.nav-links li a {
color: #fff;
text-decoration: none;
}
form {
  display: flex;
  flex-direction:column;
}

label {
  margin-right: 10px;
}
.box
{
background-color: black;
height: 500px;
text-align: center;
color:white;
font-size: 30px;
margin-top: 2px;
margin-bottom:10px;
margin-left:0px;
margin-right:1px;
padding-top: 2px;
padding-bottom: 10px;
}
 
.box img{
height: 50px;
background-color:transparent;
width:50px;
padding:10px;
margin:10px;
}
