.body{
    margin: 0px;
}
.background{
background-image: linear-gradient(rgba(100,100,100,0.56),rgba(150,150,150,0.56)),url(https://lh3.googleusercontent.com/BsjysYKfjfCg-D9fzccdhwgzOhTcm2wjWmbtZDn4-Axgffe8heGsCUHqP8-8d7u2aHN0GwOD5UFbAmoLXnrEq_mJXJbXUa7FeR4LuH4);
background-repeat: no-repeat;
background-attachment: fixed;
background-size: 100% 100%;
}
.navbar{
    display: flex;
   justify-content:space-evenly;
  }
  .menu{
    padding: 10px;
    text-decoration: none;
    margin-top: 5px;
    margin-left: 10px;
    color: white;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .menu-icon{
    margin-top: 5px;
    height: 40px;
    border-radius: 10px;
  }