body{
    background: linear-gradient(135deg, #cc9966, #f8f8f8);
    background-size: 450px;
}
h1{
    text-align: center;
    color: rgb(0, 0, 0);
} 
      .heading {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 48px;
        color: #0a0907;
        background: linear-gradient(to right, #000, #FFF, #000);
        margin-top: -11px;
        
}
.name{
    text-align: center;
    color: black;
    font-size: 26px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.rowone{
    display: flex;
    justify-content: space-between;
    padding: 15px;
}
.imgone:hover{
    border-radius: 10px;
    height: 207px;
    width: 257px;
}
.imgone{
    box-shadow: inset 0 0 10px 10px rgba(0, 0, 0, 35),
    0 5px 5px rgba(0,0,0,0.5),
    0 15px 25px rgba(0,0,0,35);
    padding: 5px;
    border-radius: 5px;
}


.check-out
{
    color: white;
    background-color:rgb(0, 0, 0);
    padding: 5px;
    border-radius: 5px;
    margin-top: -10px;
    cursor: pointer;

}
.check-out:hover{
    border-radius: 8px;
    color: rgb(20, 181, 202);

}
.pagetwo{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
.rupees{
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 4px;
    width: 50px;
    font-style:italic;
    margin-right: -10px;
}
.variety{
    font-size: larger;
    font-family: serif sans-serif;
}
.headingtwo{
    background: linear-gradient(to right, #000, #FFF, #000);
    padding: 10px;
}