body{
    background: linear-gradient(135deg, #cc9966, #f8f8f8);
    background-size: 450px;
}
h1{
    text-align: center;
    color: rgb(0, 0, 0);
}
.rowone{
    display: flex;
    justify-content: space-between;


}
.imgone{
    box-shadow: inset 0 0 10px 10px rgba(0, 0, 0, 35),
    0 5px 5px rgba(0,0,0,0.5),
    0 15px 25px rgba(0,0,0,35);
}

.check-out
{
    color: black;
    background-color:rgb(92, 10, 10);
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;

}
.check-out:hover{
    border-radius: 8px;
    color: rgb(20, 181, 202);
}
.pagetwo{
    text-align: center;
}