@media only screen and   (max-width:1000px)
{body{
    background-color:brown;
    
}}
body{

    
    background-color: rgba(234, 210, 133, 0.856);
}
.wlc
{
    color: black;
    font-size: xx-large;
    padding-top: 20px;
    padding-left: 50px;
    padding-bottom: 10px;
}
.intro
{
    color: black;
    font-size: x-large;
    padding-left: 100px;
   
}
.prio
{
    padding-left: 150px;
}
.logo
{
    height:100px;
    width :200px;
    background-color: rgb(255, 235, 205);
}
.name
{
    color: black;
    font-size: x-large;
    padding-left: 50px ;
}
.container
{

    
    border: solid black 6px;
    width: 1000px;
    border-radius: 20px;
    
}
.btn
{
    width: 350px;
padding: 10px 30px;
cursor: pointer;
margin-left: auto;
margin-right: auto;
margin-bottom: 18px;
background:white;
border: 0;
border-radius: 30px;
box-shadow:1px 1px 1px 1px black;
text-transform: uppercase;
font-size: 16px;
font-family: 'Times New Roman', Times, serif;
    
}
.btn:hover
{
    background-color:rgb(54, 27, 27) ;
    color: white;
    box-shadow:2px 1px 2px 1px black;


}
input{
    background-color: whitesmoke;
    height: 25px;
    font-size: 14pt;
    text-align-last: center;
}
.suggestion{
    height: 45px;
}
.box
    {
      background-color: black;
      height: 500px;
      text-align: center;
      color:white;
      font-size: 30px;
      margin-top: 100px;
      margin-bottom:10px;
      margin-left:0px;
      margin-right:1px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
   
    .box img{
      height: 50px;
      background-color:transparent;
      width:50px;
      padding:10px;
      margin:10px;
    }
     

